Task 1: Get the book list available in the shop.- 2 Points

Task 2: Get the books based on ISBN.- 2 Points

Task 3: Get all books by Author. -2 Points

Task 4: Get all books based on Title - 2 Points

Task 5: Get book Review. - 2 Points

Task 6: Register New user – 3 Points

Task 7: Login as a Registered user - 3 Points

Registered Users:
Task 8: Add/Modify a book review. - 2 Points

Task 9: Delete book review added by that particular user - 2 Points

Node.JS program with 4 methods:
Use Async/Await or Promises with Axios in Node.js for all the four methods.

Task 10: Get all books – Using async callback function – 2 Points

Task 11: Search by ISBN – Using Promises – 2 Points

Task 12: Search by Author – 2 Points

Task 13: Search by Title - 2 Points


Task 14: Submission of Project GitHub Link - 2 Points